.points-container {
    position: fixed;
    left: 0;
    min-width: 100px;
    top: 0;
    height: 13%;
    background-color: rebeccapurple;
    font-size: calc(7px + 2vmin)
}

.hand-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.board-container {
    position: fixed;
    width: 100%;
    top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    bottom: 35%;
    background-color: brown;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.status-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: cornflowerblue;
}



.points-player-green {
    background-color: green;
}

.points-player-yellow {
    background-color: orange;
}

.points-player-red {
    background-color: orangered;
}

.points-player-black {
    background-color: darkcyan;
    color: white;
}

.points-player-blue {
    background-color: #5b48ff;
}

.points-player-card {
    z-index:100;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.points-player-active {
    border-bottom: 10px double white;
}

.boardcard-slot {
    border: 5px dashed yellow;
    width: 20px;
    height: 100%;
}
.boardcard-slot:hover {
    border: 5px dashed yellow;
    background-color: orangered;
    width: 20px;
    height: 100%;
}
