.App {
    text-align: center;

}
html, .App {
    background-color: #282c34;
}
.App-header {

    align-items: center;
    color: white;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.App-link {
    color: #61dafb;
}
.commands {
    margin: 0 auto;
}

.fa-crown {
    color: yellow;
}

.fa-check {
    color:green;
}

.fa-times {
    color:orangered;
}
